bandit==1.7.10
black==24.10.0
theme-darcula==4.0.0
flake8==7.1.1
ghp-import==2.1.0
imbalanced-learn==0.12.4
ipywidgets==8.1.5
isort==5.13.2
jupyterlab==4.2.5
jupyterlab-myst==2.4.2
jupyter-book==1.0.3
jupytext==1.16.4
matplotlib==3.9.2
multicons==0.3.0
mypy==1.13.0
numpy==1.26.4
pandas==2.2.3
plotly==5.24.1
pylint==3.3.1
scikit-learn==1.5.2
scikit-surprise==1.1.4
sktime==0.34.0
